@media only screen and (max-width: 959px) and (max-height: 409px) {

body {
	background-color: #FFFFFF; /*white*/
	margin: 0 auto;
	overflow-x: hidden;
}

/*NAVIGATION*/

nav ul {
	width: 100%;
	height: 100%;
	position: fixed; /*fixed on the left of the page*/
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0; /*normally hidden underneath other content*/
	list-style: none;
	background: #FFFFFF;
	margin-left: -38px; /*to pull the menu to the left*/
}

/*Logo*/

#logo {
	transition: opacity .3s ease-in-out; /*standard syntax for transition when hovered over*/
	-webkit-transition: opacity .3s ease-in-out; /*vendor prefix*/
	-moz-transition: opacity .3s ease-in-out; /*vendor prefix*/
	display: inline;
}

#logo:hover {
	opacity: 0.8; /*less opaque when mouse is hovered over*/
}

#logo img {
	margin-bottom: 15px;
	margin-right: 0px;
	margin-left: 30px;
}

/*Nav List Items (Tabs)*/

nav li {
	width: 167px; /*wider than narrowportrait screens*/
}

nav li a {
	display: block;
	background-color: white;
	font-size: 20px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #F5AF72; /*Tacao (a soft orange)*/
	font-family: "Calibri", sans-serif; 
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	padding-bottom: 10px; /*thinner than narrowportrait screens so whole menu is visible for screens taller than 310px (all smart devices are at least 320px)*/
	padding-top: 10px;
	padding-left: 20px;
}

.active, nav li a:hover {
	color: #FFFFFF; /*change text colour from Tacao to white*/
	background: #F5AF72; /*change background from white to Tacao*/
	text-shadow: none;
}

/*Push Menu Trigger*/

.menu {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

label[for="menu"] {
	position: absolute;
	left: 4%;
	top: 15px;
	z-index: 2;
	width: 30px;
	height: 30px;
	background-image:url("../images/navicon.jpg");
	background-size: contain;
}

.menu + label, #content {
	transition: left 0.1s;
}

.menu:checked + label {
	left: 215px;
}

.menu:checked ~ #content {
	left: 200px;
}

/*JAVASCRIPT SLIDESHOW (sometimes doesn't work smoothly until the second cycle)*/

#slideshow {
	opacity:1.5;
	transition: opacity 1s; 
	width: 92%; /*so there's margin space on the sides of the page (4% of page width either side)*/
}

#slideshow.fadeOut {
	opacity:0;
}

/*TEXT STYLING*/

h1, h2, header, header a, .orange, .nzqa, .nzqa:visited, .squareul, .squareul li a:hover {
	color: #F5AF72; /*Tacao orange text and bullet points*/
}
  
p, a, h1, h2, header, header a {
	text-decoration: none;
}

h1 {
	font-size: 18px;
}

.h1 {
	float: left;
	display: block;
}

h2 {
	font-size: 14px;
}

header, header a {
	font-size: 16px;
}

header {
	padding: 10px 10px 10px 4%;
}

header a {
	padding: 0px;
}

/*SEARCH BAR*/

#___gcse_0 /*id set by Google, I'm unable to change it*/ {
	float: right;
	width: 43%; /*keep the search bar short rather than across the whole page*/
	display: block;
	padding-right: 4%;
}

.gsc-control-cse.gsc-control-cse-en {
	padding-right: 0px;
}
	
/*DATE AND TIME*/

.datetime {
	display:block;
	line-height: 150%;
	margin: 70px auto 0 auto;
	border-width: 2px;
	border-radius: 15px;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px;
	border-style: solid;
	border-color: #F5AF72;
	width: 92%;
}
	
.datetime, .datetime input, .datetime input:focus {
	text-align: center;
	font-family: Arial;
	font-size: 15px;
	color: #F5AF72;
}

.datetime form, .datetime input, .datetime input:focus {
	outline: none;
	border: none;
	padding: 0px 10px;
	width: 90%;
	margin: 0 auto;
}

/*4% MARGINS DOWN EITHER SIDE OF THE PAGE*/

p, h1, h2, #slideshow, .info, .email {
	padding-left: 4%;
}

p, #slideshow {
	padding-right: 4%;
}

.formulae {
	width:92%;
	margin-left:4%;
	margin-right:4%;
}

#quiz {
	width:92%;
	margin: 0 auto;
}

#checkbutton {
	margin-left: 4%;
}

/*BODY CONTENT*/

#body, #content {
	height: 100%;
	line-height: 150%;
	padding-top: 35px;
	background-color: white; /* Needs a background or else the nav will show through */
}
  
#body, #content, #contact {
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	font-size: 14px;
	font-family: "Verdana", "Arial", sans-serif;
	float: right;
	width: 100%;
}

/*Home Page Introduction*/

.intro {
	margin-top:20px;
	display: block;
}

/*PAGE CONTENT*/

#linear, #circular, #rotational, #shm, #standing, #doppler, #interference, #dc, #induction, #ac {
	margin-top: 25px;
}

#linearq, #circularq, #rotationalq, #shmq, #standingq, #dopplerq, #interferenceq, #dcq, #inductionq, #acq  {
	margin-top: 15px;
}

.squareul {
	list-style-type: square;
	padding-left: 20px; /*to align the bullets so they don't stick out the left-hand side*/
	margin-left:4%;
}

.squareul li {
	padding-bottom: 5px;
}

.squareul li a, .squareul li a:visited, .black {
	color: #000000;
}

.quiz {
	list-style-type: none;
	padding-left: 20px;
}

/*QUIZ*/
	
.green /*for questions answered correctly*/ {
	border:2px solid #00FF00; /*Lime*/
	background-color: #F5FFFA; /*MintCream (a pale green)*/
}

.red /*for questions answered incorrectly*/{
	border:2px solid #FF4500; /*OrangeRed*/
	background-color: #FFE4E1; /*MistyRose*/
}

#result {
	margin-bottom: 20px;
}

/*MAP AND NEWSLETTER*/

.info, .email {
	padding-bottom: 30px;
}
  
.info header, .email header, .email fieldset {
	padding-left: 0;
}

.info iframe /*map*/ {
	width: 96%;
	height: 380px;
	margin: 0 auto;
}

iframe {
	border:none;
}

/*Email Newsletter*/

#sign-up label { 
	display: block; 
	font: bold 12px Arial, sans-serif; 
	line-height: 24px; 
}

#sign-up fieldset {
	border: none;
	margin: 0px;
}

/*the boxes*/ 
#sign-up fieldset input[type="text"], #sign-up fieldset input[type="email"]{ 
	padding: 8px 8px; 
	width: 96%;
	font-size: 11px;
	border: none; 
	background: #FFEDDB; /*Serenade (a light orange)*/
	border-radius: 5px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
}

#sign-up input:focus /*when clicked into the box*/{
	outline: none;
	box-shadow: 0 0 3px #F5AF72;
	-webkit-box-shadow: 0 0 3px #F5AF72;
	-moz-box-shadow: 0 0 3px #F5AF72;
}

/*overwriting default placeholder text styles in Firefox and IE*/
::-moz-placeholder {
	font-family: Arial, sans-serif;
}

:-ms-input-placeholder {  
	font-family: Arial, sans-serif;
}

/*subscribe button*/  
#sign-up input[type="submit"] {
	margin-right: 10px;
	padding: 8px 15px;
	font: bold 12px Arial, sans-serif;
	text-transform: uppercase;
	line-height: 1;
	text-shadow: 1px 1px 1px #FFFFFF;
	border: none;
	background-image: linear-gradient(top, #FCE0C5 0%, #F5AF72 100%); /*Bisque (eggshell colour) to soft orange*/
	background-image: -moz-linear-gradient(top, #FCE0C5 0%, #F5AF72 100%); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FCE0C5), color-stop(100%,#F5AF72)); 
	background-image: -webkit-linear-gradient(top, #FCE0C5 0%, #F5AF72 100%); 
	background-image: -o-linear-gradient(top, #FCE0C5 0%, #F5AF72 100%); 
	background-image: -ms-linear-gradient(top, #FCE0C5 0%, #F5AF72 100%); 
	background-color: #F5AF72;
	border-radius: 5px;	
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	cursor: pointer;
}

#sign-up input[type="submit"]:hover {
	box-shadow: 1px 1px 3px #F5AF72;
	-webkit-box-shadow: 1px 1px 3px #F5AF72;
	-moz-box-shadow: 1px 1px 3px #F5AF72;
}

/*Social Networks*/

.networks {
	margin-left: 10px;
}
  
#facebook {
	margin-left: 0;
}

/*CONTACT US STRIP*/

#contact {
	display: block;
	text-align:center;
	line-height: 300%;
	background: #F5AF72;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 94%; /*so strip doesn't overlap tabs when push menu is open*/
}

#contact p {
	color: #FFFFFF;
	font-family: "Open Sans", sans-serif; 
	font-style: normal;
	font-size: 22px;
	margin-left: 10px; /*so the words don't get too close to the left edge*/
}

#contact a, #contact a:visited {
	padding: 10px;
	font-weight: bold;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background:#FFFFFF;
	color: #F5AF72;
	text-decoration:none;
	margin: 0 10px;
}

/*FOOTER*/

#footernav {
	visibility: hidden;
}

#copyright {
	display: block;
	float: right;
	width: 170px;
	margin-top: -70px;
	color: #000000;
}

#copyright, #copyright a /*copyright and last edited*/{
	font: normal 10px Verdana, sans-serif;
	text-decoration: none;
	line-height: 10px;
}
  
#copyright a {
	color: #F5AF72;
}

}